<router-outlet></router-outlet>
<br>
<h2 class="titulo">Editar da Nota</h2>

<section>
    <div class="container">
    <form >
        <div class="form-group">
            <label for="nota">Nota: </label>
            <input type="number" 
            id="nota" 
            name="nota"
            placeholder="Nota" class="form-control"
            [(ngModel)]="inscricao.nota" required> 
        </div>
        
        <button type="submit" class="btn btn-success"
        (click)="adicionarNota(inscricao)">Atualizar Nota</button>

        <button type="submit" class="btn btn-danger"
        (click) = "voltar()" >Voltar</button>
    </form>
    </div>
</section>