<router-outlet></router-outlet>
<br>
<button (click) = "onCreate(template)" class="btn btn-info"  *ngIf="candidatoAutenticado == 'false'">Novo Exame</button>
<section>
    
    <ng-template #template>
        <div class="modal-header">
            
            <h4 class="modal-title pull-left">Cadastrar um novo exame</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-exame-cadastro ></app-exame-cadastro>
          </div>
    </ng-template>
    
</section>

<hr>
<h2>Listagem dos Exames</h2>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Vagas</td>
        <td>E-mail</td>
    </tr>
    <tr  *ngFor="let exame of exames">
        <td>{{exame.id}}</td>
        <td>{{exame.nome}}</td>
        <td>{{exame.vagas}}</td>
        <td>{{exame.email}}</td>


            <button type="submit" class="btn btn-warning" (click)="onEdit(exame.id)" *ngIf="candidatoAutenticado == 'false' && exame.id == idSession">
                Atualizar
            </button>
            <button type="submit" class="btn btn-danger" (click) = "onDelete(exame)" *ngIf="candidatoAutenticado == 'false' && exame.id == idSession">
                Remover
            </button>
  
       
    </tr>
</table>


<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Você realmente deseja excluir esse exame?</p>
    <button type="button" class="btn btn-default" (click) = "confirmarDelete(exame)">Sim</button>
    <button type="button" class="btn btn-primary" (click) = "negarDelete()">Não</button>
  </div>
</ng-template>