<router-outlet></router-outlet>


<br>
<button (click) = "onCreate(template)" class="btn btn-info" *ngIf="candidatoAutenticado == 'false'">Novo Candidato</button>





        <hr>
        <h2>Listagem dos Candidatos</h2>

        <table class="table">
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Cidade</td>
                <td>E-mail</td>
            </tr>
            <tr  *ngFor="let candidato of candidatos">
                <td>{{candidato.id}}</td>
                <td>{{candidato.nome}}</td>
                <td>{{candidato.cidade}}</td>
                <td>{{candidato.email}}</td>

                <td>

                    <button type="submit" class="btn btn-warning" (click) = "onEdit(candidato.id, templateEditar)" *ngIf="candidato.id == idSession || exameAutenticado == 'true'">
                        Atualizar
                    </button>

                    <button type="submit" class="btn btn-danger"
                     (click) = "onDelete(candidato)" *ngIf="candidatoAutenticado == 'false'">
                        Remover 
                    </button>
                </td>
            </tr>
        </table>

        <ng-template #deleteModal>
            <div class="modal-body text-center">
            <p>Você realmente deseja excluir esse candidato?</p>
            <button type="button" class="btn btn-default" (click) = "confirmarDelete(exame)">Sim</button>
            <button type="button" class="btn btn-primary" (click) = "negarDelete()">Não</button>
            </div>
        </ng-template>


<section>

    <ng-template #template>
        <div class="modal-header">
            
            <h4 class="modal-title pull-left">Cadastrar um novo candidato</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <app-candidato-cadastro></app-candidato-cadastro>
            </div>
    </ng-template>
    
</section>

<section>

    <ng-template #templateEditar>
        <div class="modal-header">
            
            <h4 class="modal-title pull-left">Editar candidato</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <app-candidato-form></app-candidato-form>
            </div>
    </ng-template>
    
</section>