<router-outlet></router-outlet>

<br>
<button (click) = "onNovo()" class="btn btn-info">Novo Candidato</button>
<section *ngIf ="novo">
    <div class="container">
    <form method="POST" #formCandidato = "ngForm">

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome"
            placeholder="Nome" class="form-control"
            [(ngModel)] = "candidato.nome" required> 
        </div>

        <div class="form-group">
            <label for="vagas">Cidade: </label>
            <input type="text" id="cidade" name="cidade"
            placeholder="Cidade" class="form-control"
            [(ngModel)] = "candidato.cidade" required> 
        </div>

        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email"
            placeholder="E-mail" class="form-control"
            [(ngModel)] = "candidato.email" required> 
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha"
            placeholder="Senha" class="form-control"
            [(ngModel)] = "candidato.senha" required> 
        </div>

        <button type="submit" class="btn btn-success"
        (click) = "criar()">Cadastrar</button>
    </form>
    </div>
</section>

<hr>
<h2>Listagem dos Candidatos</h2>

<table class="table">
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Cidade</td>
        <td>E-mail</td>
    </tr>
    <tr  *ngFor="let candidato of candidatos">
        <td>{{candidato.id}}</td>
        <td>{{candidato.nome}}</td>
        <td>{{candidato.cidade}}</td>
        <td>{{candidato.email}}</td>

        <td>

            <button type="submit" class="btn btn-warning" (click) = "onEdit(candidato.id)">
                Atualizar
            </button>

            <button type="submit" class="btn btn-danger" (click) = "onDelete(candidato)">
                Remover
            </button>
        </td>
    </tr>
</table>

<ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Você realmente deseja excluir esse candidato?</p>
      <button type="button" class="btn btn-default" (click) = "confirmarDelete(exame)">Sim</button>
      <button type="button" class="btn btn-primary" (click) = "negarDelete()">Não</button>
    </div>
  </ng-template>