<router-outlet></router-outlet>
<app-header></app-header>
<h2>Efetuar Nova Inscrição</h2>

<section>
    <div class="container">
    <form >
        <div class="form-group">
            <label for="exame">Identificador do Exame: </label>
            <input type="text" 
            id="exame" 
            name="exame"
            placeholder="Exame" class="form-control"
            [(ngModel)]="inscricao.exame" required> 
        </div>
        <div class="form-group">
            <label for="candidato">Identificador do Candidato: </label>
            <input type="text" 
            id="candidato" 
            name="candidato"
            placeholder="Candidato" class="form-control"
            [(ngModel)]="inscricao.candidato" required> 
        </div>
        <button type="submit" class="btn btn-success"
        (click)="criar()" [disabled]="!inscricao.candidato || !inscricao.exame">Cadastrar</button>


    </form>
    </div>
</section>


<h2>Listagem das Inscrições</h2>

<table class="table">
    <tr>
        <td>IdExame</td>
        <td>IdCandidato</td>
        <td>Nota</td>
    </tr>
    <tr  *ngFor="let inscricao of inscricoes">
        <td>{{inscricao.exame}}</td>
        <td>{{inscricao.candidato}}</td>
        <td>{{inscricao.nota}}</td>


            <button type="submit" class="btn btn-warning" (click)="onEdit(inscricao.exame, inscricao.candidato)">
                Atualizar Nota
            </button>

            <button type="submit" class="btn btn-danger" (click) = "remover(inscricao)">
                Remover
            </button>

  
       
    </tr>
</table>