<router-outlet></router-outlet>
<h2 class="titulo">Login</h2>
<hr>
<section>
    <div class="container">
        <form method="POST" #formCandidato = "ngForm">

            <!--<div class="form-group">
                <label for="id">Id: </label>
                <input type="text" id="id" name="id"
                placeholder="Id" class="form-control"
                [(ngModel)] = "usuario.id" required> 
            </div>-->
            
            <div class="form-group">
                <label for="email">E-mail: </label>
                <input type="text" id="email" name="email"
                placeholder="email" class="form-control"
                [(ngModel)] = "usuario.email" required> 
            </div>

            <div class="form-group">
                <label for="senha">Senha: </label>
                <input type="password" id="senha" name="senha"
                placeholder="senha" class="form-control"
                [(ngModel)] = "usuario.senha" required> 
            </div>

            <div id="usuario">
                <input type="radio" name="usuario" value="candidato" [(ngModel)] = "selecaoUsuario"> Candidato
                <br>
                <input type="radio" name="usuario" value="exame" [(ngModel)] = "selecaoUsuario"> Exame
            </div>
            <br>

            <button type="submit" class="btn btn-success"
            (click) = "efetuarLogin()">Login</button>
 
        </form>
    </div>
</section>