
<router-outlet></router-outlet>

<br>
<div>
    <h5>Sistema de gerenciamento de provas de vestibular</h5>
</div>
<a [routerLink]="['listagemCandidatos']" *ngIf="mostrarMenu"><strong>Candidatos</strong></a>
<br>
<hr>
<a [routerLink]="['listagemExames']" *ngIf="mostrarMenu"><strong>Exames</strong></a>
<br>
<hr>
<a [routerLink]="['listagemIncricao']" *ngIf="mostrarMenu"><strong>Inscrição</strong></a>
<hr>
<!--<app-candidato-listagem></app-candidato-listagem>
<hr>
<app-exame-listagem></app-exame-listagem>-->


<nav>
   
</nav>